[Unit]
Description=dtdns ip updater
After=network.target

[Service]
ExecStart=/usr/sbin/dtdnssyncd --nofork --nopid
KillSignal=SIGINT
User=dtdnssync

#Type=forking
#PIDFile=/run/dtdnssyncd.pid

[Install]
WantedBy=multi-user.target
