# binaries
dtdnssync
dtdnssyncd

# manpages
man/dtdnssync.8
man/dtdnssyncd.8
man/dtdnssync.conf.5

# object files
*.o

# eclipse files
.settings/
.cproject
.project


# debian packaging
debian/debhelper-build-stamp
debian/dtdnssync.debhelper.log
debian/dtdnssync.postinst.debhelper
debian/dtdnssync.postrm.debhelper
debian/dtdnssync.prerm.debhelper
debian/dtdnssync.substvars
debian/files
