# travis configuration
dist: trusty
sudo: required

language: cpp
compiler:
  - gcc
  - clang

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.8
    packages:
      - g++-6
      - clang-3.8
      - libssl-dev
      - help2man

before_install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-6" CC="gcc-6"; fi
  - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.8" CC="clang-3.8"; fi

install:
  - wget ftp.de.debian.org/debian/pool/main/a/asio/libasio-dev_1.10.8-1_all.deb && sudo dpkg -i libasio-dev*.deb

script:
  - make all

after_success:
  - ./dtdnssync --cfg cfg/dtdnssync.local.cfg externip
