Source: dtdnssync
Section: net
Priority: optional
Maintainer: Christian Göttsche <cgzones@googlemail.com>
Standards-Version: 4.1.3
Build-Depends: debhelper (>= 11),
               libasio-dev,
               libssl-dev

Package: dtdnssync
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: dtdns ip updater
 dtdnssync is a tool to keep your dns entry up to date
 with an account on dtdns.com. It is written in c++
 and uses a ssl encrypted connection for the update
 process. It is designed to run as non-root.
